In [1]:
import pandas as pd 

df = pd.read_csv('red_30_tech_us_sales.csv')

In [2]:
df['OrderTotal'] = df['OrderTotal'].astype(str).str.replace(r'[\s"$#,]', '', regex=True).astype(float)

In [3]:
print(df['OrderTotal'])

0          44.95
1          48.90
2         950.00
3         250.00
4          13.99
          ...
4971       24.95
4972    30960.00
4973      313.09
4974     1285.20
4975     2871.73
Name: OrderTotal, Length: 4976, dtype: float64

In [4]:
df['Price'] = df['Price'].astype(str).str.replace(r'[\s"$#,]', '', regex=True).astype(float)

In [5]:
df['Discount'] = df['Discount'].astype(str).str.replace(r'[\s"$#,]', '', regex=True).astype(float)

In [6]:
df.head()

,EmpID,OrderNum,OrderDate,OrderType,Quantity,Price,Discount,OrderTotal
0,900015476,1100948,9/3/2017,Retail,1,44.95,0.0,44.95
1,900015476,1101096,9/24/2017,Wholesale,10,4.99,1.0,48.90
2,900015476,1101138,10/1/2017,Wholesale,4,250.00,50.0,950.00
3,900015476,1101158,10/3/2017,Retail,1,250.00,0.0,250.00
4,900015476,1101181,10/9/2017,Retail,1,13.99,0.0,13.99

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4976 entries, 0 to 4975
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmpID       4976 non-null   int64
 1   OrderNum    4976 non-null   int64
 2   OrderDate   4976 non-null   object
 3   OrderType   4976 non-null   object
 4   Quantity    4976 non-null   int64
 5   Price       4976 non-null   float64
 6   Discount    4976 non-null   float64
 7   OrderTotal  4976 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 311.1+ KB

In [8]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'], format='%m/%d/%Y')

In [9]:
df.head()

,EmpID,OrderNum,OrderDate,OrderType,Quantity,Price,Discount,OrderTotal
0,900015476,1100948,2017-09-03,Retail,1,44.95,0.0,44.95
1,900015476,1101096,2017-09-24,Wholesale,10,4.99,1.0,48.90
2,900015476,1101138,2017-10-01,Wholesale,4,250.00,50.0,950.00
3,900015476,1101158,2017-10-03,Retail,1,250.00,0.0,250.00
4,900015476,1101181,2017-10-09,Retail,1,13.99,0.0,13.99

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4976 entries, 0 to 4975
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmpID       4976 non-null   int64
 1   OrderNum    4976 non-null   int64
 2   OrderDate   4976 non-null   datetime64[ns]
 3   OrderType   4976 non-null   object
 4   Quantity    4976 non-null   int64
 5   Price       4976 non-null   float64
 6   Discount    4976 non-null   float64
 7   OrderTotal  4976 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 311.1+ KB

In [11]:
df.to_csv('red_30_tech_us_sales_cleaned.csv', index=False)